.page{
	min-width: 1100px;
	max-width: 1600px;
	
	background: ghostwhite;
	
	margin: auto;
	font-family: "Tektur", sans-serif;
}
.header{
	
	width: 1600px;
	height: 756px;
	position: relative;
}
.image{
	width: 765px;
	height: 608px;
	
	position: absolute;
	right: 0;
	bottom: 0;
}
.title{
	font-family: "Roboto Condensed", sans-serif;
	width: 730px;
	line-height: 96px;
	font-size: 102px;
	font-weight: bold;
	display: flex;
	align-items: center;
	min-height: 100%;
	position: absolute;
	left: 64px;
}
.text{
	font-family: "Playfair Display", serif;
	
	font-size: 18px;
	width: 388px;
	font-weight: normal;
	line-height: 25px;
	position: absolute;
	bottom: 30px;
	left: 64px;
}
.logo{
	position: absolute;
	bottom: 30px;
	left: 64px;
	width: 183px;
	height: 32px;
}
.description{
	margin: auto;
	width: 100%;
	height: 800px;
	
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.two-columns{
	margin: auto;
	width: 80%;
	
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}
.digits{
	width: 100%;
	height: 700px;
	
	margin-top: 100px;
}
.feyman{
	width: 100%;
	height: 890px;
	
	margin-top: 100px;
	position: relative;
}
.feymantitle{
	position: absolute;
	top: 100px;
	left: 340px;
	font-size: 120px;
	z-index: 2;
}
.feymantext{
	position: absolute;
	top: 370px;
	left: 40%;
	font-size: 36px;
	z-index: 2;
}
.feymanlink{
	position: absolute;
	top: 400px;
	right: 48px;
	font-size: 36px;
	color:  #2f80ed;
	text-decoration: none;
}
.feymanimage{
	height: 637px;
	width: 837px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.kaufman{
	width: 100%;
	height: 70opx;
	
	margin-top: 100px;
	background: #1f1f1f;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.footer{
	margin: auto;
	width: 90%;
	height: 350px;
	margin-top: 100px;
	color: white;
	background: #1f1f1f;
	display: flex;
	justify-content: space-between;
}
.footer-columns{
	width: 90%;
	height: 250px;
	border: 5px solid green;
}
.two-columns__brief{
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	color: #2f80ed;
	width: 175px;
}
.two-columns__paragraf{
	margin: 0;
	font-size: 24px;
	font-weight: normal;
	line-height: 34px;
	margin-bottom: 30px;
}
.two-columns__paragraf:last-child{
	margin: 0;
}
.two-columns__main-text{
	width: 80%;
}
.section-title{
	font-size: 60px;
	font-weight: bold;
	line-height: 34px;
	
	text-align: center;
	margin: 0;
	margin-top: 100px;
	margin-bottom: 20px;
}
.section-subtitle{
	font-size: 24px;
	font-weight: normal;
	line-height: 34px;
	
	text-align: center;
	margin: 0;
}
.table{
	width: 1100px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.cell-head{
	color: black;
	margin-top: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.15;
}
.cell-text{
	color: black;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.2;
}
.cell{
	margin-top: 60px;
	
	width: 250px;
}
.dark{
	color: white;
	z-index: 2;
}
.width{
	width: 200px;
	z-index: 2;
}
.kaufman-image{
	height: 877px;
	width: 877px;
	position: absolute;
	right: -210px;
}
.footer-content{
	border: 2px solid red;
	flex-basis: 711px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-about{
	border: 2px solid red;
}
.footer-socials{
	border: 2px solid red;
}
.footer-image{
	height: 35px;
	width: 183px;
}
.footer-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.header-link{
	color: #2f80ed;
	text-decoration: none;
}